.container
  %div{class: "row", style: "padding-left: 10px"}
    %h2
      #{@board_name}
  .row
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats ")
        .stat-title
          %h4 Average members per card
        .stat-value{id: 'avg_members_per_card'}
          %img{src: '/images/spinner.gif', class: 'stats-spinner'}
         
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats")
        .stat-title
          %h4 Average cards per member
        .stat-value{id: 'avg_cards_per_member'}
          %img{src: '/images/spinner.gif', class: 'stats-spinner'}
          
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats")
        .stat-title
          %h4 List with the most cards
        .stat-subtitle{id: 'list_with_most_cards_name'}
        .stat-value{id: 'list_with_most_cards_count'}
          %img{src: '/images/spinner.gif', class: 'stats-spinner'}
         
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats")
        .stat-title
          %h4 List with the least cards
        .stat-subtitle{id: 'list_with_least_cards_name'}
        .stat-value{id: 'list_with_least_cards_count'}
          %img{src: '/images/spinner.gif', class: 'stats-spinner'}
  .row
    .col-md-12
      %div(class="analysis-blocks lg-analysis-blocks-container")
        %img{src: '/images/spinner.gif', id: 'cfd-spinner'}
        %div(id="CFD-Container" class="lg-chart" style="margin: 0 auto")
  .row
    .col-md-6
      %div(class="analysis-blocks med-analysis-blocks-container")
        %img{src: '/images/spinner.gif', id: 'wip-spinner'}
        %div(id="WIP-Container" class="med-chart" style="margin: 0 auto")
    .col-md-6
      %div(class="analysis-blocks med-analysis-blocks-container")
        %img{src: '/images/spinner.gif', id: 'label-count-spinner'}
        %div(id="LabelCount-Container" class="med-chart" style="margin: 0 auto")
  .row 
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats ")
        .stat-title
          Board members
        .stat-subtitle
          &nbsp;
        .stat-value{id: 'board_members_count'}
          %img{src: '/images/spinner.gif', class: 'stats-spinner'}
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats ")
        .stat-title
          Total cards
        .stat-subtitle
          &nbsp;
        .stat-value{id: 'card_count'}
          %img{src: '/images/spinner.gif', class: 'stats-spinner'}
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats ")
        .stat-title
          %h4 Oldest Card (age in days)
        .stat-subtitle{id: 'oldest_card_name'}
        .stat-value{id: 'oldest_card_age'}
          %img{src: '/images/spinner.gif', class: 'stats-spinner'}
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats ")
        .stat-title
          %h4 Newest Card (age in days)
        .stat-subtitle{id: 'newest_card_name'}
        .stat-value{id: 'newest_card_age'}
          %img{src: '/images/spinner.gif', class: 'stats-spinner'}
       
%script{src: "/js/CFDChart.js"}
%script{src: "/js/WIPChart.js"}
%script{src: "/js/LabelCountChart.js"}

%script
  dataLoader.loadWipChart({boardId: '#{@board_id}' });
  dataLoader.loadCfdChart({boardId: '#{@board_id}' });
  dataLoader.loadStats({boardId: '#{@board_id}' });
  dataLoader.loadLabelCount({boardId: '#{@board_id}' });
  



