.container
  %h2
    #{@board.name}
  .row
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats ")
        .stat-title
          Average members per card
        .stat-subtitle
          &nbsp;
        .stat-value
          #{@stats[:avg_members_per_card]}
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats")
        .stat-title
          Average cards per member
        .stat-subtitle
          &nbsp;
        .stat-value
          #{@stats[:avg_cards_per_member]}
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats")
        .stat-title
          List with the most cards
        .stat-subtitle
          "#{@stats[:list_with_most_cards].name.length > 24 ? @stats[:list_with_most_cards].name[0..21] + "..." : @stats[:list_with_most_cards].name}"
        .stat-value
          #{@stats[:list_with_most_cards].cards.count}
        .stat-unit
          cards
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats")
        .stat-title
          List with the least cards
        .stat-subtitle
          "#{@stats[:list_with_least_cards].name.length > 24 ? @stats[:list_with_least_cards].name[0..21] + "..." : @stats[:list_with_least_cards].name}"
        .stat-value
          #{@stats[:list_with_least_cards].cards.count}
        .stat-unit
          cards
  .row
    .col-md-4
      %div(class="analysis-blocks med-analysis-blocks-container")
        %div(id="WIP-Container" class="med-chart" style="margin: 0 auto")
    .col-md-8
      %div(class="analysis-blocks lg-analysis-blocks-container")
        %div(id="CFD-Container" class="lg-chart" style="margin: 0 auto")
  .row
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats ")
        .stat-title
          Board members
        .stat-subtitle
          &nbsp;
        .stat-value
          #{@stats[:board_members_count]}
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats ")
        .stat-title
          Total cards
        .stat-subtitle
          &nbsp;
        .stat-value
          #{@stats[:card_count]}
    .col-md-6
      %div(class="analysis-blocks lg-analysis-blocks-container")
        %div(id="LabelCount-Container" class="lg-chart" style="margin: 0 auto")
#{@label_count_data}
  
%script{src: "/js/WIPChart.js"}
%script{src: "/js/CFDChart.js"}
%script{src: "/js/LabelCountChart.js"}
%script
  var wip_data = new wipChartData();
  wip_data.lists = #{@wip_data.keys.to_json};
  wip_data.counts = [{name: "Cards in List", showInLegend: false, data: #{@wip_data.values.to_json}}];
  var wipChart = new wipChart(wip_data);
  wipChart.buildChart();
  var data = new cfdChartData();
  var cfdChart = new cfdChart({ data: data, boardName: "Ollert" });
  cfdChart.buildChart();




