.modal.fade{id: "configure-board-modal", tabindex: "-1", role: "dialog", "aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", class: "close", "data-dismiss" => "modal"}
          %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
          %span{class: "sr-only"}
            Close
        %h4{class: "modal-title"}
          Configure Boards

      .modal-body
        %form.form-horizontal{role: "form"}
          .form-group
            %label.col-xs-4.control-label{for: "starting-list"}
              Work Begins
            .col-xs-8
              %select.form-control#starting-list
          .form-group
            %label.col-xs-4.control-label{for: "ending-list"}
              Work Ends
            .col-xs-8
              %select.form-control#ending-list
          .form-group
            %label.col-xs-4.control-label{for: "show-archived"}
              Include Archived Cards
            .col-xs-8
              %input.form-control#show-archived{type: "checkbox"}

      .modal-footer
        %a.btn.btn-primary{id: "submit-board-lists"}
          Apply

#board-details
  .container
    .row
      #board-name.col-xs-8.col-xs-offset-2.text-center.h2.ollert-header
        #{@board_name}
      .col-xs-2.text-center.h2.ollert-header
        %button.btn.btn-default.pull-right{"data-toggle" => "modal", "data-target" =>"#configure-board-modal"}
          %span.glyphicon.glyphicon-wrench
    .row
      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 Average members per card
          #avg-members-per-card.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}

      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 Average cards per member
          #avg-cards-per-member.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}

      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 List with the most cards
          #list-with-most-cards-count.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}
          #list-with-most-cards-name.stat-subtitle

      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 List with the least cards
          #list-with-least-cards-count.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}
          #list-with-least-cards-name.stat-subtitle

    .row
      .col-xs-12.no-padding
        .analysis-block-lg
          %img#cfd-spinner{src: '/img/spinner.gif'}
          #cfd-container.graph-container.lg-chart{style: 'margin: 0 auto;'}

    .row
      .col-md-6.col-xs-12.no-padding
        .analysis-block-md
          %img#wip-spinner{src: '/img/spinner.gif'}
          #wip-container.med-chart.graph-container
      .col-md-6.col-xs-12.no-padding
        .analysis-block-md
          %img#label-count-spinner{src: '/img/spinner.gif'}
          #label-count-container.med-chart.graph-container

    .row
      .col-xs-12.no-padding
        .analysis-block-lg
          %img#list-changes-spinner{src: '/img/spinner.gif'}
          #list-changes-container.graph-container.lg-chart{style: 'margin: 0 auto;'}

    .row
      .col-md-6.col-xs-12.no-padding
        .analysis-block-lg
          %img#burn-down-spinner{src: '/img/spinner.gif'}
          #burn-up-container.med-chart.graph-container
      .col-md-6.col-xs-12.no-padding
        .analysis-block-lg
          %img#burn-up-spinner{src: '/img/spinner.gif'}
          #burn-down-container.med-chart.graph-container
    .row
      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 Board members
          #board-members-count.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}

      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 Total cards
          #card-count.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}

      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 Oldest Card (age in days)
          #oldest-card-age.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}
          #oldest-card-name.stat-subtitle

      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 Newest Card (age in days)
          #newest-card-age.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}
          #newest-card-name.stat-subtitle

:javascript
  window.onload = function() {
    AnalysisController.init("#{@board_id}", #{@board_lists}, "#{@starting_list}", "#{@ending_list}", #{!!@show_archived}, "#{@token}");
  };
