!!! html
%html{lang: 'en'}
  %head
    %title Ollert
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: 'Ollert'}

    %link{href: '/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/styles.css'}

    %script{src: 'http://code.jquery.com/jquery-1.11.0.min.js'}
    %script{src: '/js/bootstrap.min.js'}
    %script{src: "/js/highcharts.js"}

    :javascript
      $(function () {
          $("[data-toggle='tooltip']").tooltip();
      });

    %body
      %nav{class: 'navbar navbar-default', role: 'navigation'}
        .container
          .navbar-header
            %a{class: 'navbar-brand', style: 'left: 50%; margin-left: -100%;', href: '/'}
              Ollert
          .navbar-left.img-rounded
            %ul{class: 'nav navbar-nav pull-right'}
              %li
                %a{href: "/"}
                  Home
              %li
                %a{href: "/"}
                  More Content
              %li
                %a{href: "/"}
                  Why Pay
          - if !locals[:logged_in]
            .navbar-right{style: "margin-top: 7px;"}
              %ul{class: 'nav navbar-nav pull-right'}
                %li
                  %form{action: "/signup", method: "get"}
                    %input{type: "submit", class: "btn btn-primary", value: "Sign Up"}
                %li
                  %form{action: "/login", method: "get"}
                    %input{type: "submit", class: "btn btn-default", value: "Log in"}
          - else
            .navbar-right
              %ul{class: 'nav navbar-nav pull-right'}
                %li
                  %a{href: "/settings", class: "btn btn-link btn-lg", style: "padding: 13px 15px;", "data-toggle" => "tooltip", "data-placement" => "bottom", title: "Logged in as #{@user.email}", alt: "Settings"}
                    %span{class: "glyphicon glyphicon-cog"}

      - if flash.has? :error
        .row{id: 'flash', class: 'alert alert-danger', style: 'margin: 0'}
          .container
            #{flash[:error]}
      - if flash.has? :warning
        .row{id: 'flash', class: 'alert alert-warning', style: 'margin: 0'}
          .container
            #{flash[:warning]}
      - if flash.has? :success
        .row{id: 'flash', class: 'alert alert-success', style: 'margin: 0'}
          .container
            #{flash[:success]}
      - if flash.has? :info
        .row{id: 'flash', class: 'alert alert-info', style: 'margin: 0'}
          .container
            #{flash[:info]}

      = yield

    .footer{id: 'footer'}
      %hr
      .container
        Copyright 2014
