!!! html
%html{lang: 'en'}
  %head
    %title Ollert
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: 'Ollert'}

    %link{rel: 'shortcut icon', href:'/images/favicon.ico'}
    %link{href: '/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/styles.css'}

    %script{src: 'http://code.jquery.com/jquery-1.11.0.min.js'}
    %script{src: '/js/bootstrap.min.js'}
    %script{src: "/js/highcharts.js"}

    :javascript
      $(function () {
          $("[data-toggle='tooltip']").tooltip();
      });

    %body
      %nav{class: 'navbar navbar-default navbar-static-top', role: 'navigation'}
        .container
          .navbar-header
            %button{ type: "button", class: "navbar-toggle collapsed", "data-toggle" => "collapse", "data-target" => ".navbar-collapse" }
              %span{ class: "sr-only" }
                Toggle navigation
              %span{ class: "icon-bar" }
              %span{ class: "icon-bar" }
              %span{ class: "icon-bar" }
            %a{class: 'navbar-brand', href: '/'}
              Ollert
          - if !locals[:logged_in]
            %ul{class: 'signup-login-group nav navbar-nav navbar-right'}
              %li
                %form{action: "/signup", method: "get"}
                  %input{type: "submit", class: "btn btn-primary", value: "Sign Up"}
              %li{style: 'margin-left:10px;'}
                %form{action: "/login", method: "get"}
                  %input{type: "submit", class: "btn btn-default", value: "Log in"}
          - else
            %ul{class: 'signup-login-group nav navbar-nav navbar-right'}
              %li
                %a{href: "/settings", class: "btn btn-link btn-lg", style: "padding: 13px 15px;", "data-toggle" => "tooltip", "data-placement" => "bottom", title: "Logged in as #{@user.email}", alt: "Settings"}
                  %span{class: "glyphicon glyphicon-cog"}
          %ul{class: 'collapse navbar-collapse nav navbar-nav'}
            %li
              %a{href: "/"}
                Home
            %li
              %a{href: "/"}
                More Content
            %li
              %a{href: "/"}
                Why Pay
            - if (!@boards.nil? && @boards.any?)
              %li{class: "dropdown"}
                %a{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown"}
                  My Boards
                  %b{class: "caret"}
                %ul{class: "dropdown-menu left-align"}
                  - @boards.each do |org_name, boards|
                    %li{class: "divider divider-section"}
                      #{org_name}
                    - boards.each do |board|
                      %li
                        %a{class: "btn btn-link", href: "/boards/#{board.id}"}
                          #{board.name}
      - if flash.has? :error
        .row{id: 'flash', class: 'alert alert-danger', style: 'margin: 0'}
          .container
            #{flash[:error]}
      - if flash.has? :warning
        .row{id: 'flash', class: 'alert alert-warning', style: 'margin: 0'}
          .container
            #{flash[:warning]}
      - if flash.has? :success
        .row{id: 'flash', class: 'alert alert-success', style: 'margin: 0'}
          .container
            #{flash[:success]}
      - if flash.has? :info
        .row{id: 'flash', class: 'alert alert-info', style: 'margin: 0'}
          .container
            #{flash[:info]}

      = yield

    %footer{id: 'footer'}
      .container
        .row
          .col-md-4
            .row
              Ollert is a SEP Startup Weekend project
            .row
              %img{src: '/images/ollert-logo-white.svg', height: '70'}
          .col-md-8
            .container
              .row
                .col-md-4
                  %ul
                    %li
                      %a{href: "http://www.sep.com/labs/startupweekend/"}
                        SEP Startup Weekend
                    %li
                      %a{href: "/privacy"}
                        Privacy Policy
                    %li
                      %a{href: "/terms"}
                        Terms and Conditions
                .col-md-4
                  %img{src: '/images/sep-labs-logo-white.png'}
