!!! html
%html{lang: 'en'}
  %head
    %title Ollert
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: 'Free Trello Analytics and Statistics, including Cumulative Flow Diagram and Work In Progress'}
    %meta{name: 'author', content: 'Larry Price <larry@ollertapp.com>'}

    %link{rel: 'shortcut icon', href:'/img/favicon.ico'}
    %link{href: '/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/styles.css'}

    %script{src: '/js/jquery-2.1.1.min.js'}
    %script{src: '/js/bootstrap.min.js'}
    %script{src: '/js/underscore-min.js'}

    %script{src: "/js/trello-client.js"}
    %script{src: "/js/trello-controller.js"}
    %script{src: "/js/ollert.js"}
    %script{src: "/js/time-tracker.js"}
    %script{src: "/js/plugins.js"}
    %script{src: "/js/flash-message.js"}

    - if ENV['RACK_ENV'] == "production"
      %script{src: "/js/google-analytics.js"}
      ga('create', "#{ENV['GOOGLE_ANALYTICS_KEY']}", 'ollertapp.com');
      ga('send', 'pageview');

    :javascript
      $(document).ready(function() {
        Trello.setKey("#{ENV['PUBLIC_KEY']}");
        if (#{!@user.nil?}) {
          Ollert.loadBoards();        
        }
      });

  %body
    %div{id: 'wrap'}
      %nav{class: 'navbar navbar-default navbar-static-top', role: 'navigation'}
        .container-fluid
          .navbar-header
            %a{class: 'navbar-brand', href: '/'}
              Ollert
            .visible-xs-block
              - if @user.nil?
                %ul{class: 'signup-login-group nav visible-xs-inline'}
                  %li{style: 'margin-right: 10px;'}
                    %form{action: "/login", method: "get", role: "form", class: "pull-right"}
                      %input{type: "submit", class: "btn btn-default", value: "Log in"}
              - else
                %button.navbar-toggle.collapsed{type: "button", data: { toggle: 'collapse', target: '.navbar-collapse' } }
                  %span.sr-only
                    Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                %button.my-boards-button.navbar-toggle.collapsed.btn.btn-link{type: 'button', data: { toggle: 'dropdown' } }
                  %span.glyphicon.glyphicon-stats
                  My Boards
                  %b.caret
                %ul.dropdown-menu.pull-right.my-boards
          - if @user.nil?
            %ul{class: 'signup-login-group nav navbar-nav navbar-right hidden-xs'}
              %li{style: 'margin-left:10px;'}
                %form{onsubmit: "TrelloController.authorize(); return false;"}
                  %input.btn.btn-default{type: "submit", value: "Log in"}
          .collapse.navbar-collapse
            %ul.nav.navbar-nav.pull-right
              - unless @user.nil?
                %li.hidden-xs
                  %a{href: 'javascript:void(0)', data: { toggle: 'dropdown' } }
                    %span.glyphicon.glyphicon-stats
                    My Boards
                    %b.caret
                  %ul.dropdown-menu.pull-right.my-boards
                %li
                  %a.settings-link{href: 'javascript:void(0)', data: { toggle: 'dropdown' } }
                    %img{src: "https://www.gravatar.com/avatar/#{@user.gravatar_hash}?s=40", alt: "Profile Avatar"}
                    %b.caret
                  %ul.dropdown-menu.pull-right
                    %li
                      %a{href: "/settings", alt: "Settings"}
                        %span.glyphicon.glyphicon-cog
                        Settings
                    %li
                      %a{href: "/logout", alt: "Log out"}
                        %span.glyphicon.glyphicon-off
                        Log out

      #mainContent
        - if flash.has? :error
          .row{id: 'flash', class: 'alert alert-danger'}
            .container
              #{flash[:error]}
        - if flash.has? :warning
          .row{id: 'flash', class: 'alert alert-warning'}
            .container
              #{flash[:warning]}
        - if flash.has? :success
          .row{id: 'flash', class: 'alert alert-success'}
            .container
              #{flash[:success]}
        - if flash.has? :info
          .row{id: 'flash', class: 'alert alert-info'}
            .container
              #{flash[:info]}
        = yield

      %div{id: 'push'}

    %div{id: 'footer'}
      .container
        .row
          .col-sm-6.col-xs-12
            %ul.footer-item.footer-links
              %li
                %a{href: "http://blog.ollertapp.com/", alt: "Ollert Blog"}
                  Blog
              %li
                %a{href: "/privacy", alt: "Privacy Policy"}
                  Privacy Policy
              %li
                %a{href: "/terms", alt: "Terms and Conditions"}
                  Terms and Conditions
              %li
                %a{href: "mailto:connect@ollertapp.com", alt: "Contact Us"}
                  Contact Us
          .col-md-3.col-md-offset-3.col-sm-4.col-sm-offset-2.col-xs-12.no-padding
            %a{href: "http://www.sep.com/labs/", alt: "SEP Labs", target: "blank", title: "Danger! Experimental"}
              %img.footer-item.footer-lab{src: '/img/SEP-Labs-Logo-White.svg'}
