!!! html
%html{lang: 'en'}
  %head
    %title Ollert #{title_for @title}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: 'Free Trello Analytics and Statistics, including Cumulative Flow Diagram and Work In Progress'}
    %meta{name: 'author', content: 'Larry Price <larry@ollertapp.com>'}

    %link{rel: 'shortcut icon', href:'/img/favicon.ico'}

    %link{href: '/css/vendor/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: '/css/vendor/drawer.min.css', rel: 'stylesheet'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/styles.css'}

    %script{src: '/js/vendor/jquery-2.1.1.min.js'}
    %script{src: '/js/vendor/bootstrap.min.js'}
    %script{src: '/js/vendor/drawer.min.js'}
    %script{src: '/js/vendor/underscore-min.js'}
    %script{src: '/js/vendor/hammer.min.js'}

    %script{src: "/js/trello-client.js"}
    %script{src: "/js/trello-controller.js"}
    %script{src: "/js/ollert.js"}
    %script{src: "/js/time-tracker.js"}
    %script{src: "/js/plugins.js"}
    %script{src: "/js/flash-message.js"}

    - if ENV['RACK_ENV'] == "production"
      %script{src: "/js/google-analytics.js"}
      :javascript
        ga('create', "#{ENV['GOOGLE_ANALYTICS_KEY']}", 'ollertapp.com');
        ga('send', 'pageview');

    :javascript
      $(document).ready(function() {
        Trello.setKey("#{ENV['PUBLIC_KEY']}");
      });

  %body
    - unless @user.nil?
      #config-drawer.drawer.dw-xs-10.dw-sm-6.dw-md-4.dw-lg-3.fold{"aria-labelledby" => "config-drawer"}
        .drawer-controls
          %a.btn.btn-primary.btn-sm{"aria-controls" => "config-drawer", "aria-foldedopen" => "false", "data-toggle" => "drawer", :href => "#config-drawer"}
            %span.glyphicon.glyphicon-menu-hamburger{"aria-hidden": "true"}
        .drawer-contents
          .drawer-heading
            %h2.drawer-title Boards
          %ul.drawer-nav#config-drawer-board-list

    %div
      %nav{class: 'navbar navbar-default navbar-static-top', role: 'navigation'}
        .container-fluid
          .navbar-header
            %a.navbar-brand{href: '/'}
              Ollert
          - if @user.nil?
            %ul.signup-login-group.nav.navbar-nav.navbar-right
              %li
                %form{onsubmit: "TrelloController.authorize(); return false;"}
                  %input.btn.btn-default{type: "submit", value: "Log in"}
          - else @user.nil?
            %ul.nav.navbar-nav.navbar-right
              %li
                %a.settings-link{href: 'javascript:void(0)', data: { toggle: 'dropdown' } }
                  %img{src: "https://www.gravatar.com/avatar/#{@user.gravatar_hash}?s=40", alt: "Profile Avatar"}
                  %b.caret
                %ul.dropdown-menu.pull-right
                  %li
                    %a{href: "/settings", alt: "Settings"}
                      %span.glyphicon.glyphicon-cog
                      Settings
                  %li
                    %a{href: "/logout", alt: "Log out"}
                      %span.glyphicon.glyphicon-off
                      Log out

      #mainContent
        - if flash.has? :error
          .row{id: 'flash', class: 'alert alert-danger'}
            .container
              #{flash[:error]}
        - if flash.has? :warning
          .row{id: 'flash', class: 'alert alert-warning'}
            .container
              #{flash[:warning]}
        - if flash.has? :success
          .row{id: 'flash', class: 'alert alert-success'}
            .container
              #{flash[:success]}
        - if flash.has? :info
          .row{id: 'flash', class: 'alert alert-info'}
            .container
              #{flash[:info]}
        = yield

    %div#footer
      .container
        .row
          .col-sm-6.col-xs-12
            %ul.footer-item.footer-links
              %li
                %a{href: "http://blog.ollertapp.com/", alt: "Ollert Blog"}
                  Blog
              %li
                %a{href: "/privacy", alt: "Privacy Policy"}
                  Privacy Policy
              %li
                %a{href: "/terms", alt: "Terms and Conditions"}
                  Terms and Conditions
              %li
                %a{href: "mailto:connect@ollertapp.com", alt: "Contact Us"}
                  Contact Us
          .col-md-3.col-md-offset-3.col-sm-4.col-sm-offset-2.hidden-xs.no-padding
            %a{href: "//www.sep.com/labs/", alt: "SEP Labs", target: "blank", title: "Danger! Experimental"}
              %img.footer-item.footer-lab{"src": "/img/labs-logo.png"}

    :javascript
      $(document).ready(function() {
        if (#{!@user.nil?}) {
          Ollert.loadBoards();
          $("body").toggleClass("has-drawer");
          var hammertime = new Hammer($("body")[0]);
          hammertime.on('swipeleft', function(ev) {
            if ($("#config-drawer").hasClass("open")) {
              $(".drawer-controls a").click();
            }
          });
          hammertime.on('swiperight', function(ev) {
            if (!$("#config-drawer").hasClass("open")) {
              $(".drawer-controls a").click();
            }
          });

          if (window['localStorage'] && window['localStorage'].getItem('hasAcknowledgedDrawer') != "true") {
            setTimeout(function() {
              $(".drawer-controls a").addClass("shake");
            }, 2500);
          }

          $(".drawer-controls a").on("click", function() {
            window['localStorage'].setItem('hasAcknowledgedDrawer', true);
          });
        }
      });
