!!! html
%html{lang: 'en'}
  %head
    %title Ollert
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: 'Your Trello boards do a great job telling you the state of today. But how do you know what\'s happened during the past week, month, or year? That\'s where Ollert comes in.'}
    %meta{name: 'author', content: 'Larry Price <larry@ollertapp.com>'}

    %link{rel: 'shortcut icon', href:'/img/favicon.ico'}
    %link{href: '/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/styles.css'}

    %script{src: '/js/jquery-2.1.1.min.js'}
    %script{src: '/js/bootstrap.min.js'}

    %script{src: "/js/trello-client.js"}
    %script{src: "/js/trello.js"}

    :javascript
      $(document).ready(function() {
        TrelloClient.init("#{ENV['PUBLIC_KEY']}")
      });

    %script{src: "/js/plugins.js"}

    - if ENV['RACK_ENV'] == "production"
      %script{src: "/js/google-analytics.js"}

  %body
    %div{id: 'wrap'}
      %nav{class: 'navbar navbar-default navbar-static-top', role: 'navigation'}
        .container
          .navbar-header
            %button{ type: "button", class: "navbar-toggle collapsed", "data-toggle" => "collapse", "data-target" => ".navbar-collapse" }
              %span{ class: "sr-only" }
                Toggle navigation
              %span{ class: "icon-bar" }
              %span{ class: "icon-bar" }
              %span{ class: "icon-bar" }
            %a{class: 'navbar-brand', href: '/'}
              Ollert
          - if !locals[:logged_in]
            %ul{class: 'signup-login-group nav navbar-nav navbar-right'}
              %li
                %form{action: "/signup", method: "get"}
                  %input{type: "submit", class: "btn btn-primary", value: "Sign Up"}
              %li{style: 'margin-left:10px;'}
                %form{action: "/login", method: "get"}
                  %input{type: "submit", class: "btn btn-default", value: "Log in"}
          - else
            %ul{class: 'signup-login-group nav navbar-nav navbar-right'}
              %li
                %a{href: "/settings", class: "btn btn-link btn-lg", style: "padding: 5px 15px;", "data-toggle" => "tooltip", "data-placement" => "bottom", title: "Logged in as #{@user.email}", alt: "Settings"}
                  %span{class: "glyphicon glyphicon-cog"}
          %ul{class: 'collapse navbar-collapse nav navbar-nav'}
            %li
              %a{href: "/"}
                Home
            - if (!@boards.nil? && @boards.any?)
              %li{class: "dropdown"}
                %a{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown"}
                  My Boards
                  %b{class: "caret"}
                %ul{class: "dropdown-menu left-align"}
                  - @boards.each do |org_name, boards|
                    %li{class: "divider divider-section"}
                      #{org_name}
                    - boards.each do |board|
                      %li
                        %a{class: "btn btn-link", href: "/boards/#{board.attributes[:id]}"}
                          #{board.attributes[:name]}

      #mainContent
        - if flash.has? :error
          .row{id: 'flash', class: 'alert alert-danger'}
            .container
              #{flash[:error]}
        - if flash.has? :warning
          .row{id: 'flash', class: 'alert alert-warning'}
            .container
              #{flash[:warning]}
        - if flash.has? :success
          .row{id: 'flash', class: 'alert alert-success'}
            .container
              #{flash[:success]}
        - if flash.has? :info
          .row{id: 'flash', class: 'alert alert-info'}
            .container
              #{flash[:info]}
        = yield

      %div{id: 'push'}

    %div{id: 'footer'}
      .container
        .row
          .col-md-8
            %ul
              %li
                %a{href: "http://www.sep.com/labs/startupweekend/"}
                  SEP Startup Weekend
              %li
                %a{href: "/privacy"}
                  Privacy Policy
              %li
                %a{href: "/terms"}
                  Terms and Conditions
          .col-md-4
            %img{src: '/img/sep-labs-logo-white.png', height: '85px'}