%p
  Hello!
%p
  A password reset has been requested for your <a href="https://ollertapp.com">Ollert</a> account.

%ul
  %li
    Username: #{locals[:email]}
  %li
    Time: #{locals[:date]}
  %li
    IP address: #{locals[:ip]}

%p
  If you made this request, click the link below or copy-paste the following URL into your browser to reset your password:

%p
  <a href="#{locals[:reset_url]}" alt="Password reset" title="Click to reset password">#{locals[:reset_url]}</a>

%p
  If you did not request this change, please ignore this email.

%p
  Sincerely,
  %br
  Team Ollert

%p
  This email account is not monitored and will not receive replies. For more information, contact <a href="mailto:connect@ollertapp.com">connect@ollertapp.com</a>.
